header{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border-bottom: var(--color-salvia) 1px solid;
    width: 100%;
      position: sticky; 
    top: 0;
    z-index: 100;
}
.link{
    color: var(--color-texto);
}