

body{
    background-color: var(--color-fondo);
}

button{
    background-color: var(--color-blush);
    color: var(--color-fondo);
    border: none;
    padding: 10px 20px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-acento {
    background: var(--color-acento);
    color: var(--color-fondo);
    border: none;
    padding: 5px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.btn-acento:hover {
    background: var(--color-acento-hover);
    
}